body {
background: #EFEFEF;
}

a {
    text-decoration: none;
}
*{
    margin: 0px;
    
}
ol,ul{
    list-style: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
  }
.topNavBar {
    
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;

}
.topNavBar .topNavBar-inner{
    padding: 20px 16px 20px 16px;
}
.topNavBar .logo{
font-family:"Arial Black";
float: left;
font-size:24px;
padding-top: 3px;
padding-bottom: 4px;
}
.topNavBar .logo .rs{
    color: #e6686a;
    margin-right: 4px;

}
.topNavBar .logo .card{
    color: #9A9DA2;
}
.topNavBar nav{
    font-size: 13px;
    padding-top: 7px;

}
.topNavBar nav a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-weight:  bold;
}
.topNavBar nav ul{
    list-style: none;
    padding: 0px;
    margin:0px;
}
.topNavBar nav ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar nav ul>li>a{
    font-size: 12px;
    color:#b7b7b7;
    font-weight: bold;
    border-top:3px solid transparent;
    border-bottom: 3px solid transparent;

}
.topNavBar nav ul>li>a:hover{
    border-bottom-color:  #DC6465;
}
.banner{
    height: 515px;
    background-position: center center;
    background-size: cover;

    
}

.banner .mask{
    height: 515px;
    background:rgba(0, 0, 0, 0.5);
}
.useCard{
 
    max-width: 940px;
margin-left: auto;
margin-right: auto;
background: #FFFFFF;
box-shadow: 0px 2px 35px -5px rgba(0,0,0,0.55);
}
.useCard .picture{
    height: 347px;
    width: 299px;
}
.useCard .pictureAndText{
    padding:50px;

}

.useCard .welcome{
    background: #E8676B;
color: white;
padding: 4px 16px;
line-height: 22px;
display: inline-block;

position: relative;
}
.useCard .welcome .triangle{
 border:10px solid transparent;
 display: inline-block;
  border-left-color:#E8676B;
  border-top-width:0px;
  position: absolute;
  top: 100%;
  left: 4px;
}

.useCard .picture{
    float: left;
}
.useCard .text{
    float: left;
    margin-left:65px;
    width:470px;

}
.text h1{
margin-top: 18px;

}
.text hr{
height: 0;
border:none;
border-top:1px solid #DEDEDE;
margin: 20px 0;
}
.text dl dd,
.text dl dt{
    float: left;
    padding: 5px 0;

}
.text dl dd{
    width:70%;
    color:#9da0a7;
}
.text dl dt{
    width:30%
}
.useCard footer{
    background-color: #E8676B;
    

}
.media{
    text-align: center;

}
.media a{
 
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    padding: 5px 0;
    margin:16px;

}
.media a:hover{
    background: #CF5D5F;
}
.media svg{
width:30px;
height: 30px;
line-height: 30px;
fill: white;

vertical-align: top;
}
.synopsis{
    margin-top: -340px;
}
main .button{
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    border: 1px solid #CDCFD1;
    background-color: #EFEFEF;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 31px 0;
    transition: box-shadow 0.3s;
   

}
main .button:hover{
    box-shadow: 0px 12px 17px -3px rgba(0,0,0,0.55);
}
.selfIntroduction{
    max-width: 940px;
margin: 0 auto;
font-family: "方正行黑简体";
text-align: center;
font-size: 18px;
line-height: 1.8;
}
.skill,
.portfolio {
    max-width: 940px;
    margin: 0 auto;
    

}
.skill h2,
.portfolio h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 60px;
    

}
.skill ol{
    box-shadow: 0px 2px 35px -5px rgba(0,0,0,0.55);
padding: 0px;
padding: 42px 50px 10px;
background-color: white;
margin-top: 30px;
}
.skill ol li{
    float: left;
    width: 48%;
    font-size: 14px;
    line-height: 1.1;

}
.skill ol li:nth-child(even){
    float: right;
}
.skill .progressBar {
 
    height: 5px;
    background: #FAE1E1;
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 40px;
}
.skill .progressBar .progress{
    height: 100%;
    background-color: #E8676B;
    width: 50%;

}
.portfolio nav{
    text-align: center;
}
.portfolio ol{
    padding-left: 0px;
    display: inline-block;

}
.portfolio ol li{
float: left;
margin-left: 40px;
cursor: pointer;
}
.portfolio ol li:nth-child(1){
    margin-left: 0px;
}
.portfolio {
    text-align: center;
}
.portfolio nav{
display: inline-block;
vertical-align: top;
margin-top: 34px;
}
.portfolio nav .bar{
height: 5px;
background: white;

}
.portfolio nav .bar .bar-inner{
    height: 100%;
    background:#E8676B;
    border-radius: 3px;
    width: 50px;
    transition: all 0.3s;

}
.portfolio nav .bar.state1 .bar-inner{
 margin-left: 0px;

}
.portfolio nav .bar.state2 .bar-inner{

    margin-left: 65px;

}
.portfolio nav .bar.state3 .bar-inner{
    margin-left: 140px;
    width:96px;
}
.portfolio .jobs{
    height: 597px;
    margin-top: 15px;
    position: relative;
}
.portfolio .jobs .big,
.portfolio .jobs .small{
    position: absolute;

}
